#mainNav .navbar-brand {
    color: #fff;
}
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
  }
#mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #1abc9c;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
}
#mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
}
.px-lg-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.rounded {
    border-radius: var(--bs-border-radius) !important;
}
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.masthead .masthead-avatar {
    width: 15rem;
}
@media (min-width: 992px) {
    .masthead {
      padding-top: calc(6rem + 104px);
      padding-bottom: 6rem;
    }
    .masthead .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead .masthead-subheading {
      font-size: 1.5rem;
    }
}
.img, svg {
    vertical-align: middle;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
}

@media (min-width: 992px){
.masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
    font-weight: 700;
}
}
.masthead p{
    font-weight: 400;
}
.por{
font-weight: 700;
}
.page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
}
.page-section {
    padding: 6rem 0;
}
.page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
}
.portfolio .portfolio-item {
    /* cursor: pointer; */
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
#btn1{
    padding: 1rem 1.75rem !important; 
    font-size: 1.25rem !important; 
}
.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.small, small {
    font-size: .875em;
}
.copyright {
    background-color: #1a252f;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}
.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider-custom.divider-light .divider-custom-icon {
    color: #fff;
}
.divider-custom .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
}
.form-floating input.form-control, .form-floating textarea.form-control {
    font-size: 1.5rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-width: 1px;
}
.form-floating > .form-control, .form-floating > .form-control-plaintext {
    padding: 1.5rem 0;
}
.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
    height: 5.5rem;
    line-height: 1.25;
}
.form-floating label {
    font-size: 1.5rem;
    color: #6c757d;
}
label {
    display: inline-block;
}
.form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 0.125rem solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.invalid-feedback {
    display: none;
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}
.justify-content-center {
    justify-content: center !important;
}
.form-floating {
    position: relative;
}
.form-floating input.form-control, .form-floating textarea.form-control {
    font-size: 1.5rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-width: 1px;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-floating > .form-control, .form-floating > .form-control-plaintext {
    padding: 1.5rem 0;
}
.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
    height: 5.5rem;
    line-height: 1.25;
}
.was-validated :invalid ~ .invalid-feedback, .was-validated :invalid ~ .invalid-tooltip, .is-invalid ~ .invalid-feedback, .is-invalid ~ .invalid-tooltip {
    display: block;
}
.btn.disabled {
    pointer-events: none;
    opacity: 0.65;
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
}
.form-floating input.form-control:focus, .form-floating textarea.form-control:focus {
    box-shadow: none;
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.collapse:not(.show) {
    display: none;
}
svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}
.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}